# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.idea
/barmate_flutter/windows/flutter
/barmate_flutter/windows
/barmate_flutter/macos
/barmate_flutter/linux
/supabase/supabase/.temp
/supabase_testing/supabase/.temp
/supabase_testing/supabase/.branches
/supabase_testing/supabase/migrations
/supabase_testing/security_tests/node_modules
supabase_testing/security_tests/.env
supabase_testing/supabase/.env
/supabase_testing/load_tests/node_modules
supabase_testing/load_tests/config.json
